.CardHeader {
    text-align: left;
    margin-top: 0px;
}

.FormSpacing {
    padding: 6px !important;
}

.Paper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
}